

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// font-family: "Inter", sans-serif;

$font1: 'Inter', sans-serif;

// Tamaños de fuentes
$font-size-1: 30px;
$font-size-2: 25px;
$font-size-3: 20px;
$font-size-4: 16px;